/* your-component.css */
.request-form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.request-class,
.request-property {
  margin-bottom: 10px;
}

button {
  margin-right: 10px;
}
